body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

.cv-container {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
    color: #666;
}

/* Sections */
section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.8em;
    color: #333;
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* Expérience professionnelle */
.job {
    margin-bottom: 20px;
}

.job h3 {
    font-size: 1.4em;
    margin: 0;
    color: #3498db;
}

.job p {
    font-size: 1.1em;
    color: #555;
}

.job ul {
    list-style-type: none;
    padding: 0;
}

.job ul li {
    font-size: 1em;
    margin-left: 20px;
    color: #666;
}

/* Formation */
.school h3 {
    font-size: 1.4em;
    margin: 0;
    color: #3498db;
}

.school p {
    font-size: 1.1em;
    color: #555;
}

/* Compétences */
.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li {
    font-size: 1.1em;
    color: #666;
    margin-bottom: 10px;
}

/* Footer */
footer {
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin-top: 30px;
}
